CY00,CZ01,CZ02,CZ03,CZ04,CZ05,CZ06,CZ07,CZ08,DE11,DE12,DE13,DE14,DE21,DE22,DE23,DE24,DE25,DE26,DE27,DE30,DEC0,DED2,DED4,DED5,DEE0,DEF0,DEG0,DK01,DK03,DK04,DK05,EE00,EL30,EL41,DE40,DE50,DE60,DE71,DE72,DE73,DE80,DE91,DE92,AL01,AL02,AL03,AT11,AT12,AT13,AT21,AT22,AT31,AT32,AT33,AT34,BE10,BE21,BE22,BE23,BE24,BE25,BE31,BE32,BE33,BE34,BE35,BG31,BG32,BG33,BG34,BG41,BG42,CH01,CH02,CH03,CH04,CH05,CH06,CH07,ITG2,ITH1,ITH2,ITH3,ITH4,ITH5,ITI1,ITI2,ITI3,ITI4,LI00,LT01,TR81,TR82,DE93,DE94,DEA1,DEA2,DEA3,DEA4,DEA5,DEB1,DEB2,DEB3,LT02,LU00,LV00,ME00,MK00,MT00,NL11,EL42,EL43,EL51,EL52,EL53,EL54,DK02,FRH0,FRI1,FRI2,FRI3,FRJ1,FRJ2,FRK1,FRK2,FRL0,FRM0,HR03,HR04,HU11,HU12,HU21,HU22,HU23,HU31,HU32,HU33,IE04,IE05,IE06,IS00,ITC1,ITC2,ITC3,ITC4,ITF1,ITF2,ITF3,ITF4,ITF5,ITF6,ITG1,TR52,TR61,TR62,TR63,TR71,TR72,TR83,TR90,TRA1,TRA2,TRB1,TRB2,TRC1,TRC2,UKI7,UKJ1,UKJ2,UKJ3,UKJ4,UKK1,UKK2,UKK3,UKK4,EL61,EL62,EL63,EL64,EL65,ES11,ES12,ES13,ES21,ES22,ES23,ES24,ES30,ES41,ES42,ES43,ES51,ES52,ES53,ES61,ES62,ES63,ES64,FI19,FI1B,FI1C,FI1D,FI20,FR10,FRB0,FRC1,FRC2,FRD1,FRD2,FRE1,FRE2,FRF1,FRF2,FRF3,FRG0,UKL2,UKM5,UKM6,UKM7,UKM8,UKM9,TRC3,UKC1,UKC2,UKD1,UKD3,UKD4,UKD6,UKD7,UKE1,UKE2,UKE3,PT16,PT17,PT18,RO11,RO12,RO21,RO22,RO31,RO32,RO41,RO42,RS11,RS12,RS21,RS22,SE11,SE12,SE21,SE22,SE23,SE31,SE32,SE33,SI03,SI04,SK01,SK02,SK03,SK04,TR10,TR21,TR22,TR31,TR32,TR33,TR41,TR42,TR51,UKE4,UKF1,UKF2,UKF3,UKG1,UKG2,UKG3,UKH1,UKH2,UKH3,UKI3,UKI4,UKI5,UKI6,NL12,NL13,NL21,NL22,NL23,NL31,NL32,NL33,NL34,NL41,NL42,NO01,NO02,NO03,NO04,NO05,NO06,PL21,PL22,PL41,PL42,PL43,PL51,PL52,PL61,PL62,NO07,PL63,PL71,PL72,PL81,PL82,PL84,PL91,PL92,PT11,PT15,UKN0,UKL1

In [2]:
codes = 'CY00,CZ01,CZ02,CZ03,CZ04,CZ05,CZ06,CZ07,CZ08,DE11,DE12,DE13,DE14,DE21,DE22,DE23,DE24,DE25,DE26,DE27,DE30,DEC0,DED2,DED4,DED5,DEE0,DEF0,DEG0,DK01,DK03,DK04,DK05,EE00,EL30,EL41,DE40,DE50,DE60,DE71,DE72,DE73,DE80,DE91,DE92,AL01,AL02,AL03,AT11,AT12,AT13,AT21,AT22,AT31,AT32,AT33,AT34,BE10,BE21,BE22,BE23,BE24,BE25,BE31,BE32,BE33,BE34,BE35,BG31,BG32,BG33,BG34,BG41,BG42,CH01,CH02,CH03,CH04,CH05,CH06,CH07,ITG2,ITH1,ITH2,ITH3,ITH4,ITH5,ITI1,ITI2,ITI3,ITI4,LI00,LT01,TR81,TR82,DE93,DE94,DEA1,DEA2,DEA3,DEA4,DEA5,DEB1,DEB2,DEB3,LT02,LU00,LV00,ME00,MK00,MT00,NL11,EL42,EL43,EL51,EL52,EL53,EL54,DK02,FRH0,FRI1,FRI2,FRI3,FRJ1,FRJ2,FRK1,FRK2,FRL0,FRM0,HR03,HR04,HU11,HU12,HU21,HU22,HU23,HU31,HU32,HU33,IE04,IE05,IE06,IS00,ITC1,ITC2,ITC3,ITC4,ITF1,ITF2,ITF3,ITF4,ITF5,ITF6,ITG1,TR52,TR61,TR62,TR63,TR71,TR72,TR83,TR90,TRA1,TRA2,TRB1,TRB2,TRC1,TRC2,UKI7,UKJ1,UKJ2,UKJ3,UKJ4,UKK1,UKK2,UKK3,UKK4,EL61,EL62,EL63,EL64,EL65,ES11,ES12,ES13,ES21,ES22,ES23,ES24,ES30,ES41,ES42,ES43,ES51,ES52,ES53,ES61,ES62,ES63,ES64,FI19,FI1B,FI1C,FI1D,FI20,FR10,FRB0,FRC1,FRC2,FRD1,FRD2,FRE1,FRE2,FRF1,FRF2,FRF3,FRG0,UKL2,UKM5,UKM6,UKM7,UKM8,UKM9,TRC3,UKC1,UKC2,UKD1,UKD3,UKD4,UKD6,UKD7,UKE1,UKE2,UKE3,PT16,PT17,PT18,RO11,RO12,RO21,RO22,RO31,RO32,RO41,RO42,RS11,RS12,RS21,RS22,SE11,SE12,SE21,SE22,SE23,SE31,SE32,SE33,SI03,SI04,SK01,SK02,SK03,SK04,TR10,TR21,TR22,TR31,TR32,TR33,TR41,TR42,TR51,UKE4,UKF1,UKF2,UKF3,UKG1,UKG2,UKG3,UKH1,UKH2,UKH3,UKI3,UKI4,UKI5,UKI6,NL12,NL13,NL21,NL22,NL23,NL31,NL32,NL33,NL34,NL41,NL42,NO01,NO02,NO03,NO04,NO05,NO06,PL21,PL22,PL41,PL42,PL43,PL51,PL52,PL61,PL62,NO07,PL63,PL71,PL72,PL81,PL82,PL84,PL91,PL92,PT11,PT15,UKN0,UKL1'

codes = codes.split(',')
len(codes)

324

In [5]:
import pandas as pd
import numpy as np
import requests

In [75]:
df = pd.read_json('../data/nuts-data.json', orient='records')

In [59]:
new_df = pd.DataFrame(columns=df.columns.tolist())

new_df

Empty DataFrame
Columns: [code, region, a_2015, a_2016, a_2017, a_2018, a_2019, p_2015, p_2016, p_2017, p_2018, p_2019, e_2015, e_2016, e_2017, e_2018, e_2019]
Index: []

In [72]:
df_code_index = df.set_index('code')

for c in codes:
    try:
        df_code_index.loc[c]
    except KeyError:
        year = 2015
        
        e = {}
        p = {}
        a = {}
        
        FLAG = False
        
        for _ in range(5):
            resp_e = requests.get('http://ec.europa.eu/eurostat/wdds/rest/data/v2.1/json/en/lfst_r_lfu3rt?unit=PC&age=Y20-64&sex=T&time={}&geo={}'.format(year, c))
            resp_p = requests.get('http://ec.europa.eu/eurostat/wdds/rest/data/v2.1/json/en/lfst_r_lfsd2pwn?age=Y20-64&sex=T&time={}&geo={}&wstatus=POP&citizen=TOTAL'.format(year, c))
            resp_a = requests.get('http://ec.europa.eu/eurostat/wdds/rest/data/v2.1/json/en/lfst_r_lfsd2pwn?age=Y20-64&sex=T&time={}&geo={}&wstatus=ACT&citizen=TOTAL'.format(year, c))
            
            if not (resp_e.status_code == 200):
                FLAG = True
                break
            elif not (resp_p.status_code == 200):
                FLAG = True
                break
            elif not (resp_a.status_code == 200):
                FLAG = True
                break
            
            region = resp_e.json()['dimension']['geo']['category']['label'][c]

            if len(resp_e.json()['value']) > 0:
                e[str(year)] = resp_e.json()['value']['0']
            else:
                e[str(year)] = np.nan
                
            if len(resp_p.json()['value']) > 0:
                p[str(year)] = resp_p.json()['value']['0']
            else:
                p[str(year)] = np.nan
            
            if len(resp_a.json()['value']) > 0:
                a[str(year)] = resp_a.json()['value']['0']
            else:
                a[str(year)] = np.nan
            
            year = year + 1
            
        if FLAG:
            continue
        
        new_df = new_df.append({'code': c, 'region': region, 'a_2015': a['2015'], 'a_2016': a['2016'], 'a_2017': a['2017'], \
                   'a_2018': a['2018'], 'a_2019': a['2019'], \
                   'p_2015': p['2015'], 'p_2016': p['2016'], 'p_2017': p['2017'], 'p_2018': p['2018'], 'p_2019': p['2019'], \
                  'e_2015': e['2015'], 'e_2016': e['2016'], 'e_2017': e['2017'], 'e_2018': e['2018'], 'e_2019': e['2019']
                  }, ignore_index=True)

In [62]:
new_df

,code,region,a_2015,a_2016,a_2017,a_2018,a_2019,p_2015,p_2016,p_2017,p_2018,p_2019,e_2015,e_2016,e_2017,e_2018,e_2019
0,DEC0,Saarland,460.2,479.7,474.6,470.0,469.8,583.3,603.7,593.8,586.9,583.8,5.7,4.8,4.3,3.5,3.7
1,DED2,Dresden,784.0,767.7,767.9,759.8,772.7,931.3,906.4,902.2,891.9,896.9,6.2,5.0,4.3,3.9,3.5
2,DED4,Chemnitz,694.6,702.4,694.8,671.0,667.8,830.9,840.4,818.5,790.4,778.6,5.5,4.5,4.2,3.4,3.8
3,DED5,Leipzig,509.5,520.2,508.3,518.6,517.7,613.9,623.1,604.1,608.9,609.3,7.7,6.1,5.1,4.7,4.7
4,DEE0,Sachsen-Anhalt,1090.3,1087.0,1064.3,1033.5,1029.0,1311.4,1311.1,1283.9,1247.3,1238.3,8.0,7.4,7.0,5.3,4.6
5,DEF0,Schleswig-Holstein,1339.0,1354.7,1373.6,1382.2,1404.6,1623.9,1658.0,1671.5,1674.6,1674.8,4.1,3.9,3.5,2.9,2.7
6,DEG0,Thüringen,1050.6,1065.1,1048.9,1033.9,1022.0,1277.1,1280.6,1256.5,1226.4,1210.9,5.9,5.1,4.4,4.1,3.7
7,ITG2,Sardegna,666.7,661.8,656.0,665.9,666.5,1029.5,1021.8,1012.5,1001.9,989.9,17.4,17.2,17.1,15.5,14.8
8,ITH1,Provincia Autonoma di Bolzano/Bozen,243.8,248.7,248.8,251.7,253.5,305.8,306.6,308.2,310.0,311.3,3.7,3.5,2.9,2.7,2.8
9,ITH2,Provincia Autonoma di Trento,242.1,241.6,243.7,243.0,244.8,316.3,315.6,314.8,314.8,314.6,6.7,6.7,5.7,4.6,4.9
10,ITH3,Veneto,2152.9,2169.8,2189.4,2207.7,2218.1,2930.4,2911.7,2898.4,2890.8,2887.1,7.1,6.7,6.3,6.3,5.4
11,ITH4,Friuli-Venezia Giulia,525.0,526.1,526.6,529.8,526.9,710.5,703.6,699.0,696.6,693.8,7.9,7.5,6.7,6.7,6.1
12,ITH5,Emilia-Romagna,2011.3,2038.7,2031.8,2050.9,2070.8,2608.0,2601.0,2595.4,2595.4,2596.9,7.6,6.8,6.4,5.8,5.5
13,ITI1,Toscana,1659.0,1673.4,1668.6,1655.3,1647.9,2175.9,2168.3,2161.4,2153.2,2145.5,9.2,9.5,8.5,7.2,6.7
14,ITI2,Umbria,390.2,382.1,385.6,378.1,381.8,517.9,514.2,511.5,507.9,504.2,10.3,9.6,10.5,9.1,8.5
15,ITI3,Marche,669.0,669.6,663.3,669.9,673.1,904.7,898.1,892.2,886.6,880.9,9.9,10.5,10.5,8.1,8.7
16,ITI4,Lazio,2555.0,2569.3,2594.8,2602.9,2569.3,3569.6,3558.6,3555.3,3545.0,3522.8,11.7,11.0,10.6,11.1,9.9
17,DEA1,Düsseldorf,2436.5,2453.7,2489.9,2479.3,2471.6,3097.1,3125.3,3148.1,3122.5,3103.3,5.9,4.9,4.3,4.3,3.8
18,DEA2,Köln,2079.7,2178.4,2175.0,2166.5,2189.4,2629.2,2726.0,2726.7,2718.4,2712.0,4.8,3.8,3.7,3.6,3.4
19,DEA3,Münster,1234.6,1244.5,1244.7,1277.2,1294.5,1545.8,1563.1,1575.2,1581.7,1583.8,4.3,4.3,3.8,3.6,3.4
20,DEA4,Detmold,991.5,1010.1,994.7,998.3,993.9,1213.3,1230.8,1207.8,1207.7,1191.0,4.6,4.1,3.8,3.2,3.1
21,DEA5,Arnsberg,1666.5,1687.5,1687.1,1700.5,1712.2,2123.7,2160.8,2142.2,2129.5,2134.0,5.7,4.9,4.6,4.0,3.9
22,DEB1,Koblenz,712.9,726.8,723.3,722.7,730.4,871.8,885.5,883.5,872.5,878.4,3.3,3.2,3.0,2.7,2.2

In [68]:
c = 'DEB2'
year = 2019

resp_e = requests.get('http://ec.europa.eu/eurostat/wdds/rest/data/v2.1/json/en/lfst_r_lfu3rt?unit=PC&age=Y20-64&sex=T&time={}&geo={}'.format(year, c))
resp_p = requests.get('http://ec.europa.eu/eurostat/wdds/rest/data/v2.1/json/en/lfst_r_lfsd2pwn?age=Y20-64&sex=T&time={}&geo={}&wstatus=POP&citizen=TOTAL'.format(year, c))
resp_a = requests.get('http://ec.europa.eu/eurostat/wdds/rest/data/v2.1/json/en/lfst_r_lfsd2pwn?age=Y20-64&sex=T&time={}&geo={}&wstatus=ACT&citizen=TOTAL'.format(year, c))

len(resp_e.json()['value'])

nan

In [69]:
new_df

,code,region,a_2015,a_2016,a_2017,a_2018,a_2019,p_2015,p_2016,p_2017,p_2018,p_2019,e_2015,e_2016,e_2017,e_2018,e_2019
0,DEC0,Saarland,460.2,479.7,474.6,470.0,469.8,583.3,603.7,593.8,586.9,583.8,5.7,4.8,4.3,3.5,3.7
1,DED2,Dresden,784.0,767.7,767.9,759.8,772.7,931.3,906.4,902.2,891.9,896.9,6.2,5.0,4.3,3.9,3.5
2,DED4,Chemnitz,694.6,702.4,694.8,671.0,667.8,830.9,840.4,818.5,790.4,778.6,5.5,4.5,4.2,3.4,3.8
3,DED5,Leipzig,509.5,520.2,508.3,518.6,517.7,613.9,623.1,604.1,608.9,609.3,7.7,6.1,5.1,4.7,4.7
4,DEE0,Sachsen-Anhalt,1090.3,1087.0,1064.3,1033.5,1029.0,1311.4,1311.1,1283.9,1247.3,1238.3,8.0,7.4,7.0,5.3,4.6
5,DEF0,Schleswig-Holstein,1339.0,1354.7,1373.6,1382.2,1404.6,1623.9,1658.0,1671.5,1674.6,1674.8,4.1,3.9,3.5,2.9,2.7
6,DEG0,Thüringen,1050.6,1065.1,1048.9,1033.9,1022.0,1277.1,1280.6,1256.5,1226.4,1210.9,5.9,5.1,4.4,4.1,3.7
7,ITG2,Sardegna,666.7,661.8,656.0,665.9,666.5,1029.5,1021.8,1012.5,1001.9,989.9,17.4,17.2,17.1,15.5,14.8
8,ITH1,Provincia Autonoma di Bolzano/Bozen,243.8,248.7,248.8,251.7,253.5,305.8,306.6,308.2,310.0,311.3,3.7,3.5,2.9,2.7,2.8
9,ITH2,Provincia Autonoma di Trento,242.1,241.6,243.7,243.0,244.8,316.3,315.6,314.8,314.8,314.6,6.7,6.7,5.7,4.6,4.9
10,ITH3,Veneto,2152.9,2169.8,2189.4,2207.7,2218.1,2930.4,2911.7,2898.4,2890.8,2887.1,7.1,6.7,6.3,6.3,5.4
11,ITH4,Friuli-Venezia Giulia,525.0,526.1,526.6,529.8,526.9,710.5,703.6,699.0,696.6,693.8,7.9,7.5,6.7,6.7,6.1
12,ITH5,Emilia-Romagna,2011.3,2038.7,2031.8,2050.9,2070.8,2608.0,2601.0,2595.4,2595.4,2596.9,7.6,6.8,6.4,5.8,5.5
13,ITI1,Toscana,1659.0,1673.4,1668.6,1655.3,1647.9,2175.9,2168.3,2161.4,2153.2,2145.5,9.2,9.5,8.5,7.2,6.7
14,ITI2,Umbria,390.2,382.1,385.6,378.1,381.8,517.9,514.2,511.5,507.9,504.2,10.3,9.6,10.5,9.1,8.5
15,ITI3,Marche,669.0,669.6,663.3,669.9,673.1,904.7,898.1,892.2,886.6,880.9,9.9,10.5,10.5,8.1,8.7
16,ITI4,Lazio,2555.0,2569.3,2594.8,2602.9,2569.3,3569.6,3558.6,3555.3,3545.0,3522.8,11.7,11.0,10.6,11.1,9.9
17,DEA1,Düsseldorf,2436.5,2453.7,2489.9,2479.3,2471.6,3097.1,3125.3,3148.1,3122.5,3103.3,5.9,4.9,4.3,4.3,3.8
18,DEA2,Köln,2079.7,2178.4,2175.0,2166.5,2189.4,2629.2,2726.0,2726.7,2718.4,2712.0,4.8,3.8,3.7,3.6,3.4
19,DEA3,Münster,1234.6,1244.5,1244.7,1277.2,1294.5,1545.8,1563.1,1575.2,1581.7,1583.8,4.3,4.3,3.8,3.6,3.4
20,DEA4,Detmold,991.5,1010.1,994.7,998.3,993.9,1213.3,1230.8,1207.8,1207.7,1191.0,4.6,4.1,3.8,3.2,3.1
21,DEA5,Arnsberg,1666.5,1687.5,1687.1,1700.5,1712.2,2123.7,2160.8,2142.2,2129.5,2134.0,5.7,4.9,4.6,4.0,3.9
22,DEB1,Koblenz,712.9,726.8,723.3,722.7,730.4,871.8,885.5,883.5,872.5,878.4,3.3,3.2,3.0,2.7,2.2

In [70]:
df = df.append(new_df)

In [71]:
df

,code,region,a_2015,a_2016,a_2017,a_2018,a_2019,p_2015,p_2016,p_2017,p_2018,p_2019,e_2015,e_2016,e_2017,e_2018,e_2019
0,AT11,Burgenland (AT),135.1,136.1,137.9,136.9,136.8,175.4,175.9,175.4,174.9,175.0,5.1,5.5,4.9,4.0,3.6
1,AT12,Niederösterreich,789.9,798.4,816.2,809.1,817.2,983.1,992.5,996.3,999.0,1001.6,5.0,4.9,4.7,3.6,3.8
2,AT13,Wien,862.3,894.8,901.0,922.7,928.3,1141.2,1170.0,1184.2,1194.8,1200.1,10.4,11.0,10.1,9.7,9.0
3,AT21,Kärnten,256.9,259.0,259.4,260.2,258.9,335.1,336.2,334.9,332.7,332.3,6.0,5.2,4.7,4.1,3.7
4,AT22,Steiermark,581.4,592.2,592.6,598.1,604.8,750.2,755.1,755.8,756.8,756.9,4.6,4.9,4.3,4.0,3.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18,DEA2,Köln,2079.7,2178.4,2175.0,2166.5,2189.4,2629.2,2726.0,2726.7,2718.4,2712.0,4.8,3.8,3.7,3.6,3.4
19,DEA3,Münster,1234.6,1244.5,1244.7,1277.2,1294.5,1545.8,1563.1,1575.2,1581.7,1583.8,4.3,4.3,3.8,3.6,3.4
20,DEA4,Detmold,991.5,1010.1,994.7,998.3,993.9,1213.3,1230.8,1207.8,1207.7,1191.0,4.6,4.1,3.8,3.2,3.1
21,DEA5,Arnsberg,1666.5,1687.5,1687.1,1700.5,1712.2,2123.7,2160.8,2142.2,2129.5,2134.0,5.7,4.9,4.6,4.0,3.9
22,DEB1,Koblenz,712.9,726.8,723.3,722.7,730.4,871.8,885.5,883.5,872.5,878.4,3.3,3.2,3.0,2.7,2.2

In [77]:
df = df.append(new_df)

In [79]:
temp = df.set_index('code')

In [82]:
temp.drop_duplicates()

,region,a_2015,a_2016,a_2017,a_2018,a_2019,p_2015,p_2016,p_2017,p_2018,p_2019,e_2015,e_2016,e_2017,e_2018,e_2019
code,,,,,,,,,,,,,,,,
AT11,Burgenland (AT),135.1,136.1,137.9,136.9,136.8,175.4,175.9,175.4,174.9,175.0,5.1,5.5,4.9,4.0,3.6
AT12,Niederösterreich,789.9,798.4,816.2,809.1,817.2,983.1,992.5,996.3,999.0,1001.6,5.0,4.9,4.7,3.6,3.8
AT13,Wien,862.3,894.8,901.0,922.7,928.3,1141.2,1170.0,1184.2,1194.8,1200.1,10.4,11.0,10.1,9.7,9.0
AT21,Kärnten,256.9,259.0,259.4,260.2,258.9,335.1,336.2,334.9,332.7,332.3,6.0,5.2,4.7,4.1,3.7
AT22,Steiermark,581.4,592.2,592.6,598.1,604.8,750.2,755.1,755.8,756.8,756.9,4.6,4.9,4.3,4.0,3.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UKI4,Inner London - East,1257.8,1272.7,1321.4,1338.0,1366.7,1569.5,1602.2,1639.2,1641.3,1652.3,6.4,6.5,4.9,4.0,3.4
UKI5,Outer London - East and North East,904.5,926.8,946.8,954.3,960.7,1119.9,1139.7,1158.6,1170.7,1178.8,6.3,4.8,4.9,4.0,4.1
UKI6,Outer London - South,635.9,647.5,666.3,667.9,685.1,770.1,770.0,786.8,785.3,809.8,4.0,3.8,4.6,4.3,3.6
UKN0,Northern Ireland (UK),819.8,830.3,811.2,817.7,831.1,1066.8,1070.4,1071.6,1074.0,1074.8,5.8,5.2,4.5,3.6,2.4
UKL1,West Wales and The Valleys,855.2,873.4,848.9,866.4,868.7,1098.3,1100.3,1084.6,1095.9,1096.9,5.7,4.4,4.2,4.2,3.8

In [84]:
temp.to_json('../data/temp.json', orient='index')

In [86]:
df = df.set_index('code')

In [87]:
df

,region,a_2015,a_2016,a_2017,a_2018,a_2019,p_2015,p_2016,p_2017,p_2018,p_2019,e_2015,e_2016,e_2017,e_2018,e_2019
code,,,,,,,,,,,,,,,,
AT11,Burgenland (AT),135.1,136.1,137.9,136.9,136.8,175.4,175.9,175.4,174.9,175.0,5.1,5.5,4.9,4.0,3.6
AT12,Niederösterreich,789.9,798.4,816.2,809.1,817.2,983.1,992.5,996.3,999.0,1001.6,5.0,4.9,4.7,3.6,3.8
AT13,Wien,862.3,894.8,901.0,922.7,928.3,1141.2,1170.0,1184.2,1194.8,1200.1,10.4,11.0,10.1,9.7,9.0
AT21,Kärnten,256.9,259.0,259.4,260.2,258.9,335.1,336.2,334.9,332.7,332.3,6.0,5.2,4.7,4.1,3.7
AT22,Steiermark,581.4,592.2,592.6,598.1,604.8,750.2,755.1,755.8,756.8,756.9,4.6,4.9,4.3,4.0,3.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UKI4,Inner London - East,1257.8,1272.7,1321.4,1338.0,1366.7,1569.5,1602.2,1639.2,1641.3,1652.3,6.4,6.5,4.9,4.0,3.4
UKI5,Outer London - East and North East,904.5,926.8,946.8,954.3,960.7,1119.9,1139.7,1158.6,1170.7,1178.8,6.3,4.8,4.9,4.0,4.1
UKI6,Outer London - South,635.9,647.5,666.3,667.9,685.1,770.1,770.0,786.8,785.3,809.8,4.0,3.8,4.6,4.3,3.6
UKN0,Northern Ireland (UK),819.8,830.3,811.2,817.7,831.1,1066.8,1070.4,1071.6,1074.0,1074.8,5.8,5.2,4.5,3.6,2.4
UKL1,West Wales and The Valleys,855.2,873.4,848.9,866.4,868.7,1098.3,1100.3,1084.6,1095.9,1096.9,5.7,4.4,4.2,4.2,3.8

In [88]:
df.to_json('../data/nuts-data.json', orient='index')

In [89]:
df = df.reset_index()
df

,code,region,a_2015,a_2016,a_2017,a_2018,a_2019,p_2015,p_2016,p_2017,p_2018,p_2019,e_2015,e_2016,e_2017,e_2018,e_2019
0,AT11,Burgenland (AT),135.1,136.1,137.9,136.9,136.8,175.4,175.9,175.4,174.9,175.0,5.1,5.5,4.9,4.0,3.6
1,AT12,Niederösterreich,789.9,798.4,816.2,809.1,817.2,983.1,992.5,996.3,999.0,1001.6,5.0,4.9,4.7,3.6,3.8
2,AT13,Wien,862.3,894.8,901.0,922.7,928.3,1141.2,1170.0,1184.2,1194.8,1200.1,10.4,11.0,10.1,9.7,9.0
3,AT21,Kärnten,256.9,259.0,259.4,260.2,258.9,335.1,336.2,334.9,332.7,332.3,6.0,5.2,4.7,4.1,3.7
4,AT22,Steiermark,581.4,592.2,592.6,598.1,604.8,750.2,755.1,755.8,756.8,756.9,4.6,4.9,4.3,4.0,3.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319,UKI4,Inner London - East,1257.8,1272.7,1321.4,1338.0,1366.7,1569.5,1602.2,1639.2,1641.3,1652.3,6.4,6.5,4.9,4.0,3.4
320,UKI5,Outer London - East and North East,904.5,926.8,946.8,954.3,960.7,1119.9,1139.7,1158.6,1170.7,1178.8,6.3,4.8,4.9,4.0,4.1
321,UKI6,Outer London - South,635.9,647.5,666.3,667.9,685.1,770.1,770.0,786.8,785.3,809.8,4.0,3.8,4.6,4.3,3.6
322,UKN0,Northern Ireland (UK),819.8,830.3,811.2,817.7,831.1,1066.8,1070.4,1071.6,1074.0,1074.8,5.8,5.2,4.5,3.6,2.4
323,UKL1,West Wales and The Valleys,855.2,873.4,848.9,866.4,868.7,1098.3,1100.3,1084.6,1095.9,1096.9,5.7,4.4,4.2,4.2,3.8

In [92]:
missing = [
    {'c': 'AL01',
    'r': 'Veri'},
    {'c': 'AL02',
    'r': 'Qender'},
    {'c': 'AL03',
    'r': 'Jug'}
]

missing

[{'c': 'AL01', 'r': 'Veri'},
 {'c': 'AL02', 'r': 'Qender'},
 {'c': 'AL03', 'r': 'Jug'}]

In [93]:
for i in missing:
    df = df.append({'code': i['c'], 'region': i['r'], 'a_2015': np.nan, 'a_2016': np.nan, 'a_2017': np.nan, \
                   'a_2018': np.nan, 'a_2019': np.nan, \
                   'p_2015': np.nan, 'p_2016': np.nan, 'p_2017': np.nan, 'p_2018': np.nan, 'p_2019': np.nan, \
                  'e_2015': np.nan, 'e_2016': np.nan, 'e_2017': np.nan, 'e_2018': np.nan, 'e_2019': np.nan
                  }, ignore_index=True)

In [94]:
df

,code,region,a_2015,a_2016,a_2017,a_2018,a_2019,p_2015,p_2016,p_2017,p_2018,p_2019,e_2015,e_2016,e_2017,e_2018,e_2019
0,AT11,Burgenland (AT),135.1,136.1,137.9,136.9,136.8,175.4,175.9,175.4,174.9,175.0,5.1,5.5,4.9,4.0,3.6
1,AT12,Niederösterreich,789.9,798.4,816.2,809.1,817.2,983.1,992.5,996.3,999.0,1001.6,5.0,4.9,4.7,3.6,3.8
2,AT13,Wien,862.3,894.8,901.0,922.7,928.3,1141.2,1170.0,1184.2,1194.8,1200.1,10.4,11.0,10.1,9.7,9.0
3,AT21,Kärnten,256.9,259.0,259.4,260.2,258.9,335.1,336.2,334.9,332.7,332.3,6.0,5.2,4.7,4.1,3.7
4,AT22,Steiermark,581.4,592.2,592.6,598.1,604.8,750.2,755.1,755.8,756.8,756.9,4.6,4.9,4.3,4.0,3.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322,UKN0,Northern Ireland (UK),819.8,830.3,811.2,817.7,831.1,1066.8,1070.4,1071.6,1074.0,1074.8,5.8,5.2,4.5,3.6,2.4
323,UKL1,West Wales and The Valleys,855.2,873.4,848.9,866.4,868.7,1098.3,1100.3,1084.6,1095.9,1096.9,5.7,4.4,4.2,4.2,3.8
324,AL01,Veri,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
325,AL02,Qender,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
326,AL03,Jug,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [95]:
df = df.set_index('code')
df.to_json('../data/nuts-data.json', orient='index')